
.ui.container {
    width: 90%;
    padding-bottom: 30px;
}

.ui.menu {
    margin-top: 0px;
}

.ui.button {
    margin-bottom: 0.3em;
}

.reverse.ui.indicating.progress[data-percent^="1"] .bar,
.reverse.ui.indicating.progress[data-percent^="2"] .bar {
  background-color: #66DA81;

}
.reverse.ui.indicating.progress[data-percent^="3"] .bar {
  background-color: #B4D95C;

}
.reverse.ui.indicating.progress[data-percent^="4"] .bar,
.reverse.ui.indicating.progress[data-percent^="5"] .bar {
  background-color: #DDC928;
}
.reverse.ui.indicating.progress[data-percent^="6"] .bar {
    background-color: #E6BB48;
}
.reverse.ui.indicating.progress[data-percent^="7"] .bar,
.reverse.ui.indicating.progress[data-percent^="8"] .bar {
    background-color: #EFBC72;
}
.reverse.ui.indicating.progress[data-percent^="9"] .bar,
.reverse.ui.indicating.progress[data-percent^="100"] .bar {
    background-color: #D95C5C;
}

.reverse.ui.indicating.progress[data-percent="1"] .bar,
.reverse.ui.indicating.progress[data-percent="2"] .bar,
.reverse.ui.indicating.progress[data-percent="3"] .bar,
.reverse.ui.indicating.progress[data-percent="4"] .bar,
.reverse.ui.indicating.progress[data-percent="5"] .bar,
.reverse.ui.indicating.progress[data-percent="6"] .bar,
.reverse.ui.indicating.progress[data-percent="7"] .bar,
.reverse.ui.indicating.progress[data-percent="8"] .bar,
.reverse.ui.indicating.progress[data-percent="9"] .bar {
  background-color: #66DA81;
}