.banner {
  margin: 0 !important;
  border-radius: 0 !important;
}

.ui.container {
  width: 90%;
  padding-bottom: 30px;
}

.ui.menu {
  margin-top: 0px;
}

.ui.button {
  margin-bottom: 0.3em;
}

.react-codemirror2 .CodeMirror {
  height: 60vh;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.margin-left {
  margin-left: 0.3em !important;
}

.margin-right {
  margin-right: 0.3em !important;
}